html body,
.kvH3mc,
.LHJvCe,
#hdtb-msb,
.sfbg,
#slim_appbar,
#pTwnEc,
.f6F9Be,
.O850f,
.s8GCU,
#kO001e,
.jZWadf,
.dG2XIf,
.bJzME.tTVLSc {
  background-color: rgb(15, 23, 41) !important;
  /*background-image: url("images/stars1.png") !important;
    background-repeat: repeat; NE RADI*/
}

.FPdoLc.lJ9FBc {
  background-color: rgb(15, 23, 41) !important;
}

html body a,
#SIvCob a,
.AaVjTc > tbody > tr > td,
.mCBkyc.ynAwRc.MBeuO.nDgy9d,
.MjjYud {
  color: #b1d237 !important;
}

#SIvCob {
  color: #fff !important;
}

.gb_d > svg {
  color: lightgrey !important;
}

.lnXdpd {
  border-radius: 10px !important;
  overflow: hidden;
  box-shadow: 0px 0px 10px 5px rgba(247, 247, 247);
}

.iUh30,
.VwiC3b,
.wQiwMc,
.mgAbYb,
.EETcFd,
.UIGp9e,
.CEMjEf,
.GI74Re.nDgy9d,
.Uroaid {
  color: gainsboro !important;
}

#result-stats,
.dyjrff.qzEoUe,
.zz3gNc,
.iJ1Kvb,
.GmE3X,
.qrShPb.garHBe.q8U8x.EaHP9c {
  color: rgb(143, 144, 146) !important;
}

#hdtb-msb {
  border-bottom: 4px solid #b1d237;
}

.logo,
.F1hUFe {
  box-shadow: 0px 0px 10px 5px rgba(247, 247, 247) !important;
}

.KwU3F,
.xSQxL,
.RJn8N.ellip.tNxQIb.ynAwRc {
  color: rgb(16, 149, 149) !important;
}

.dfB0uf,
.Q8LRLc,
.GOE98c,
.t2vtad,
.dG2XIf,
.Zg1NU {
  color: rgb(131, 138, 138) !important;
}
